@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(180deg, #EFF2F7 43%, #FFFFFF 43%);
    height: 120vh;
    overflow-x: hidden;
    
    
}

a{
  text-decoration: none;
}

.home-icon-pos{
    position: relative;
    top:30px;
    left:90%;
    padding: none;
}

.home-color:hover{
    color: #F65655;
    transform: translateY(-2px);

}

i:hover{
    color: #F65655; 
    transform: translateY(-2px);
}

.logo-text{
    font-family: "Montserrat", sans-serif;
    color:orange;
    font-size:48px;
    font-weight: bold;
     margin: 0;
     position: relative;
     bottom:20px;
     left:10px;
}


.img{
    z-index: -1;
    width:700px;
    height: auto;
    opacity: 0.2;
    position: relative;
    left:27%;
    top:-40px;
}

.small-title{
    font-size:20px;
    position: relative;
    top:5px;
    right:100px;
    font-family: 'Exo', sans-serif;
    color:black;
}

.headline{
    font-size:40px;
    text-align: center;  
    position: relative;
    top:40px;
}

.headline-line{
    border-bottom: solid 5px #5875E6;
    width:100px;
    position: relative;
    top:0px;
    left:31%;
}

/* box1*/

.box{
outline:0;
border: none;
position: absolute;
width: 350px;
height: 369px;
left: 150px;
top: 330px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;
}

.pos{
    position: relative;
    top:-50px;
}



.box:disabled {
    pointer-events: none;
  }
  
  .box:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .box:active {
    box-shadow: none;
    transform: translateY(0);
  }
   
  .box-text{
    font-family: "Montserrat", sans-serif;
    font-size:30px;
    position:relative;
    bottom:0px;
    text-align: center;
    cursor:default;
  }
  


  /* box2*/

.box2{
    outline:0;
    border: none;
    position: absolute;
    width: 350px;
    height: 369px;
    left: 600px;
    top: 330px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    }

    .box2:disabled {
        pointer-events: none;
      }
      
      .box2:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
      }
      
      .box2:active {
        box-shadow: none;
        transform: translateY(0);
      }


      /* box3*/

.box3{
    outline:0;
    border: none;
    position: absolute;
    width: 350px;
    height: 369px;
    left: 1050px;
    top: 330px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    }
    
    .box3:disabled {
        pointer-events: none;
      }
      
      .box3:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
      }
      
      .box3:active {
        box-shadow: none;
        transform: translateY(0);
      }
      

/* pro -view button + content */
.pro-view{
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  padding: 18px;
  width: 95%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

  background-color: white;;
}



.pro-text{
  color: black;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

.active, .pro-view:hover {
  background-color: white;
  transform: translateY(-2px);
}

.pro-view:after{
  content: '\2B9F'; /*unicode for arrowdown*/
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
 
}

.pro-view:active{
  transform: translateY(0); 
}

.pro-view:disabled {
  pointer-events: none;
}

.active:after {
  content: "\2B9D";/* unicode for arrowup*/
 
}

.content {
  font-family: "Montserrat", sans-serif;
  width:90%;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;;
}

.faq-box{
  font-family: "Montserrat", sans-serif;
  position: relative;
  top:100px;
  left:60px;
  width: 425px;
  height:425px;
  font-size:20px;
  background: #EFF2F7;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left:30px;
  }
  
  
  
  .faq-pos{
  position:relative;
  bottom:500px;
  width:800px;
  height:auto;
  left:40%;
  top:-330px;
  background: #EFF2F7;
  border-radius: 12px;
  padding-left:50px;
  padding-top:30px;
  padding-bottom:30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
    