@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');


body {
    background-color: #27262C;
  }


  .table_dec{
    font-family: 'Inter', sans-serif;
 
    box-sizing: border-box;
  
    text-align: center;
    
    border-color:#27262C;
    border: 0px solid #5B5B5B;
   /* border-collapse: collapse; */
    color:white;

    position: relative;
    left:5%;
    top:300px;
    
    
   width: 90%;
   height: 175px;
   border-radius: 4px;
    
}


.wel-msg{
  
    position: absolute;
    left: 150px;
    top: 75px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 77px;
    
    
    color: #FFFFFF;
    }


    /*  log-out button */


.log_out-button {
    appearance: none;
    background-color: #8500B4;
    border: 0px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    width: 100px;
  height: 55px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    will-change: transform;
  
    position: absolute;
    left: 90%;
    top: 60px; 
  }
  
  .log_out-button:disabled {
    pointer-events: none;
  }
  
  .log_out-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .log_out-button:active {
    box-shadow: none;
    transform: translateY(0);
  }


  /*  Edit button */

.edit-button {
    appearance: none;
    background-color: #8500B4;
    border: 0px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    width: 150px;
    height: 60px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    will-change: transform;

    position: relative;
    left:37%;
    top:350px;
    
  }
  
  .edit-button:disabled {
    pointer-events: none;
  }
  
  .edit-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .edit-button:active {
    box-shadow: none;
    transform: translateY(0);
  }




  /*  back button */

  .back-button {
    appearance: none;
    background-color: #F65655;
    border: 0px solid #1A1A1A;
    border-radius: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    width: 150px;
    height: 60px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    will-change: transform;

    position: relative;
    left:45%;
    top:350px;
    
  }
  
  .back-button:disabled {
    pointer-events: none;
  }
  
  .back-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .back-button:active {
    box-shadow: none;
    transform: translateY(0);
  }


  /* line for from tite */

  .line-dec{
    width: 250px;
    position: relative;
    left: 150px;
    top: 205px;
    border: 3px solid #03DAC5;
  }

/* table input box */

  input[type="text"] {
    
    text-align:center;
    display: inline-block;
    width: 95%;
  height:40px;
    margin-right: 10%;
    font-size: 16px;
    line-height: 24px;
position: relative;
left:5px;

  background-color: #535061;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  color:white;
 
  
}


/*selet */

select{
    background-color: #535061;
    color:white;
    width:150px;
    height:30px;
    border:0;
    outline:0;
}

