@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background-image: url('../assets/img/pizza_background_orange_t60.png');
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  overflow-y: hidden;
}

.wrapper-cust {
  position: relative;
  max-width: 500px;
  width: 100%;
  top: 20px;
  background: #ffffff;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper-cust h1 {
  position: relative;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  background-color: white;
  color: #333;
}
.wrapper-cust form {
  margin-top: 30px;
  background-color: white;
}
.wrapper-cust form .input-box {
  height: 52px;
  margin: 18px 0;
}
form .input-box input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  transition: all 80ms ease-in;
}

.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
  transition: all 80ms ease-in;
}
form .text h3 {
  background-color: white;
  color: #333;
  font-size: medium;
  width: 100%;
  text-align: center;
}
form .text h3 a {
  background-color: white;
  font-size: larger;
  color: #4070f4;
  text-decoration: none;
}

.btn{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
